* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

body {
    background-color: #eff3ff;
    background-image: linear-gradient(135deg, #f1f0f0 0%, #c4d1e7 100%);
    perspective: 1px;
    background-attachment: fixed;
}

.contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
}

textarea {
    /* box-sizing: border-box; */
    /* margin: 1.5rem; */
    /* width: 98%;*/
    height: 100%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    min-width: 240px;
    background: transparent;
    resize: none;
    border-radius: 1rem;
    border: none;
    outline: none;
    /* text-overflow: ellipsis; */
    font-weight: 500;
    scrollbar-width: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    padding: 20px;
    /* overflow-y: auto; */
}

.card {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: fit-content;
    max-width: 340px;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    background: white;
    zoom: 1;
    margin: 2.9rem;
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
    transition: all 0.4s ease;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    scrollbar-width: none;
}

.card:has(img) {
    all: unset;
    box-shadow: 0px 20px 50px #555;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: fit-content;
    max-width: 300px;
    border-radius: 1rem;
    background: white;
    zoom: 1;
    margin: 1.5rem;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
    transition: 0.4s ease;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.card img {
    display: block;
    width: 100%;
}

.card:hover {
    transform: scale(1.1);
    /* zoom: 1.1; */
    border: 2px solid rgb(71, 71, 71);
}